<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd "
>
	<mvc:resources mapping="/css/**" location="/resources/css/" /> 
	<mvc:resources mapping="/images/**" location="/resources/images/" /> 
	<mvc:resources mapping="/js/**" location="/resources/js/" /> 
	<mvc:resources mapping="/locales/**" location="/resources/js/locales/" /> 
	<mvc:resources mapping="/less/**" location="/resources/less/" /> 
	<mvc:resources mapping="/fonts/**" location="/resources/fonts/" /> 
	<mvc:resources mapping="/build/**" location="/resources/build/" /> 
	<mvc:resources mapping="/resources/**" location="/resources/" /> 
	<mvc:resources mapping="/uploads/**" location="/resources/uploads/" /> 
		
	<bean id="defaultDao" class="dao.DefaultDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="adminDao" class="dao.AdminDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="studentDao" class="dao.StudentDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="teacherDao" class="dao.TeacherDao">
		<property name="dataSource" ref="dataSource"/>
	</bean>


	<bean class="controller.LoginController">
		<property name="defaultDao" ref="defaultDao"/>
	</bean>
	<bean class="controller.AdminController">
		<property name="adminDao" ref="adminDao"/>
	</bean>
	<bean class="controller.StudentController">
		<property name="studentDao" ref="studentDao"/>
	</bean>
	<bean class="controller.TeacherController">
		<property name="teacherDao" ref="teacherDao"/>
	</bean>

<!--	<bean class="controller.LoginController">
		<property name="authService" ref="authService"/>
	</bean>
	<bean class="controller.LogoutController"/>
	<bean class="controller.ChangePwdController">
		<property name="changePasswordService" ref="changePwdSvc"/>
	</bean>
	<bean class="controller.MemberListController">
		<property name="memberDao" ref="memberDao"/>
	</bean>
	<bean class="controller.BoardController">
		<property name="memberDao" ref="memberDao"/>
		<property name="boardDao" ref="boardDao"/>
	</bean>-->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		 <!-- setting maximum upload size -->
		<!--<property name="maxUploadSize" value="100000" />-->
 
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/"/>
			<mvc:mapping path="/student/**"/>
			<mvc:mapping path="/teacher/**"/>
			<mvc:mapping path="/admin/**" />
			<bean class="interceptor.AuthCheckInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/student/**" />
			<bean class="interceptor.StudentCheckInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/teacher/**" />
			<bean class="interceptor.TeacherCheckInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<bean class="interceptor.AdminCheckInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> 
	
</beans>